/files/docker_persistent_data/*
!/files/docker_persistent_data/.gitkeep
/files/fonts/*
.DS_Store
!/host_vars/.gitkeep
!/group_vars/all/vars.yml
mountsraspi
.fact_cache
.history
group_vars/all/secret.yml
